[Desktop Entry]
Type=Application
Name=MCC_UI
Comment=Open the MVR dashboard
Exec=chromium --password-store=basic --new-window http://localhost:8000
Icon=/home/mvr/Web_MCC-Daq_w_Checklist/web/favicon.ico
Terminal=false
Categories=Network;
